.pagination-container {
  height: 10vh;
  background-color: rgb(255, 255, 255);
  border-top: 2px solid #dddddd;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.page {
  width: 2rem;
  height: 2rem;
  margin: 0.4rem;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  color: black;
}

.page:hover {
  background-color: rgb(184, 204, 255);
  color: rgb(21, 0, 255);
  border: 1px solid rgb(92, 78, 242);
}

.active {
  background-color: rgb(184, 204, 255);
  color: rgb(21, 0, 255);
  border: 1px solid rgb(92, 78, 242);
}
