.filter-container {
  height: 15vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0.6rem;
  border-bottom: 2px solid #dddddd;
}

.tags {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 0.2rem 0.4rem;
  font-size: 1rem;
  border: 1px solid rgb(145, 145, 145);
  border-radius: 2rem;
  padding: 0.4rem 1.8rem;
}

.tags:hover {
  border: 1px solid rgb(53, 105, 226);
  color: rgb(26, 80, 208);
  background-color: rgb(220, 230, 255);
}

@media screen and (max-width: 600px) {
  .filter-container {
    height: 10vh;
  }

  .tags {
    font-size: 0.8rem;
    margin: 0.1rem 0.2rem;
    padding: 0.2rem 1rem;
  }
}
